body{
  background-color: #eaeaea;
  margin-left: 300px;
  margin-right: 300px;
  border:2px solid black;
  padding: 20px;
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.5);
}

h1{
  font-family: Algerian;
  font-size: 40px;
}

h2{
  font-family: Arial;

}
h3{
  font-family: Verdana;
}

h4,h5,h6{
  font-family: Consolas;
}

p{
  font-family: Arial;
  line-height: 15.0pt;
  text-align: justify;
}

a:link {
 color: blue;
}

a:visited{
  color:purple;

}

a:hover{
  color:red;
}

ul{
  list-style-type: square;
}

.sublistunordered{
  list-style-type: circle;
}

.sublistordered{
  list-style-type:lower-alpha;

}
.colour{
  width:50px;
  height:50px;
  border-radius:50%;
  border:1px solid black;
}
.colour--primary{
  background-color:#cd5c5c;

}

.colour--secondary{
  background-color: brown	;
}

/* Card CSS*/
.card1 .wrap {
  width:300px;
  margin:auto;
}

.button {
  background-color: green;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.card1 p {
  font-size: 16px;
  margin: 8px;
  padding-bottom: 10px;
}

.button:hover {
  background-color: #f44336;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.4s;
    width:350px;
    background:#fff;
    text-align: center;
    font-size:30px;
    font-family: sans-serif;
    margin:10px;
}

.container{
  padding: 2px 16px
}
.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}
